@import url("font-awesome.min.css");

:root {
  --primary-color: #1891c8;
  --primary-color-rgba: rgba(24, 144, 200, 0.2);
  --white: #fff;
  --off-white: #f0f5ff;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: var(--off-white);
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;
  color: black;
}

.heading_container h2::before {
  content: "";
  width: 40px;
  height: 7px;
  background-color: var(--primary-color);
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.heading_container.heading_center h2::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/*header section*/
.hero {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.hero_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh + 69px);
  overflow: hidden;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero_bg_box .video-box {
  width: 100%;
}

.hero_bg_box .video-box video {
  min-width: 100%;
  min-height: 100%;
}

.hero_bg_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.35)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.35));
}

.sub_page .hero {
  min-height: auto;
}

.sub_page .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding-bottom: 21px;
}

.hero.sub_pages {
  height: auto;
}

.header_section {
  padding: 0;
}

.header_section video-box-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.header_top {
  background-color: var(--white);
  padding: 15px 0;
}

.header_top .contact_link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header_top .contact_link-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: black;
  font-size: 15px;
  font-weight: 500;

}

.header_top .contact_link-container a i {
  font-size: 20px;
  color: var(--primary-color);
  margin-right: 5px;
}

#navbarSupportedContent {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.custom_nav-container {
  z-index: 99999;
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 0;
  margin: 15px 5px 15px 5px;
  padding: 10px 20px 10px 20px;
  color: var(--primary-color);
  font-weight: 600;
  border-radius: 999px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.custom_nav-container .navbar-nav .nav-link:hover,
.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  background-color: var(--primary-color);
  color: white;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-brand img {
  border-radius: 999px;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 32px;
  height: 4px;
  background-color: var(--primary-color);
  border-radius: 15px;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before,
.custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 15px;
  top: -10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before,
.custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

.header_bottom {
  position: absolute;
  left: 0;
  right: 0;
}

.sticky {
  position: fixed;
  top: 0;
}

#bottom_navbar {
  backdrop-filter: blur(24px) saturate(180%);
  z-index: 999;
}

/*end header section*/
/* slider section */
.main_hero {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
  top: 69px;
  position: relative;
}

.main_hero .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main_hero .detail-box {
  width: 100%;
  margin: 0 auto;
}

.main_hero .detail-box h1 {
  text-transform: uppercase;
  font-size: 3rem;
  color: #ffffff;
  font-weight: 600;
}

.main_hero .detail-box h1 span {
  color: var(--primary-color);
}

.main_hero .detail-box p {
  margin-top: 25px;
}

.main_hero .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.main_hero .detail-box .btn-box a {
  width: 180px;
  text-align: center;
  margin: 5px;
}

.main_hero .detail-box .btn-box .btn-1 {
  display: inline-block;
  padding: 10px 35px;
  background-color: #ffffff;
  color: #000000;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  border: 1px solid transparent;
  border-radius: 999px;
}

.main_hero .detail-box .btn-box .btn-1:hover {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

.main_hero .detail-box .btn-box .btn-2 {
  display: inline-block;
  padding: 10px 35px;
  background-color: var(--primary-color);
  color: #ffffff;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  border: 1px solid transparent;
  border-radius: 999px;
}

.main_hero .detail-box .btn-box .btn-2:hover {
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.main_hero .video-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_hero .video-box video {
  width: 100%;
}

.about_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about_section .img_container .img-box img {
  width: 100%;
  border-radius: 2rem;
}

.about_section .detail-box {
  background-color: #ffffff;
  padding: 45px 25px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  position: relative;
  margin-left: -45px;
  border-radius: 2rem;
}

.about_section .detail-box p {
  margin-top: 5px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 35px;
  background-color: var(--primary-color);
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  text-transform: uppercase;
  border-radius: 999px;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.service_section {
  background-color: var(--off-white);
}

.service_section .heading_container {
  color: black;
}

.service_section .box {
  background-color: #ffffff;
  padding: 25px 15px;
  text-align: center;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  margin-top: 45px;
  border-radius: 2rem;
}

.service_section .box .img-box svg {
  width: 75px;
  height: auto;
  fill: black;
}

.service_section .box .detail-box {
  margin-top: 25px;
}

.service_section .box .detail-box h6 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.service_section .box .detail-box a {
  display: inline-block;
  padding: 8px 35px;
  background-color: var(--primary-color);
  color: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  margin-top: 10px;
}

.service_section .box .detail-box a:hover {
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.client_section {
  text-align: center;
}

.client_section #carouselExampleControls {
  padding: 0 10%;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 45px;
}

.client_section .box .img-box {
  width: 145px;
}

.client_section .box .img-box img {
  width: 100%;
}

.client_section .box .detail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
}

.client_section .box .detail-box h4 {
  font-weight: bold;
  font-size: 18px;
  padding: 0 10px;
  border-bottom: 1px solid #ffffff;
}

.client_section .box .detail-box p {
  margin-top: 10px;
}

.client_section .carousel_btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  position: absolute;
  top: 50%;
  width: 45px;
  height: 45px;
  border: none;
  opacity: 1;
  background-color: var(--white);
  color: #ffffff;
  border-radius: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
  color: black;
  transition: all 0.15s;
}

.client_section .carousel-control-prev:hover,
.client_section .carousel-control-next:hover {
  background-color: var(--primary-color);
  color: white;
}

.client_section .carousel-control-prev {
  left: 0;
}

.client_section .carousel-control-next {
  left: initial;
  right: 0;
}

/* Contact Section Start */
.contact-section {
  color: #4a5568; /* Gray-600 */
  padding: 24px 0;
}

.contact-section .heading_container{
  margin-bottom: 2rem;
}

.contact-section .container {
  display: flex;
  flex-wrap: wrap;
}

.contact-section .map-container {
  flex: 2;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.contact-section .map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact-section .info-box {
  background: white;
  padding: 16px;
  border-radius: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  z-index: 1;
}

.contact-section .info-box .info-section {
  width: 50%;
  padding: 0 12px;
}
.contact-section .info-box .info-section a{
  color: var(--primary-color);
}
.contact-section .info-box .info-section a:hover{
  color: #1a202c;
}
.contact-section .info-box .info-title {
  font-weight: 600;
  font-size: 12px;
  color: #1a202c; /* Gray-900 */
  text-transform: uppercase;
}

.contact-section .form-container {
  flex: 1;
  background: white;
  border-radius: 2rem;
  padding: 24px;
}

.contact-section .form-container .form-title {
  color: #1a202c; /* Gray-900 */
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

.contact-section .form-container .form-description {
  margin-bottom: 20px;
}

.contact-section .form-container .form-group {
  margin-bottom: 16px;
}

.contact-section .form-container .form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
}

.contact-section .form-container .form-group input,
.contact-section .form-container .form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #d1d5db; /* Gray-300 */
  border-radius: 0.25rem;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.contact-section .form-container .form-group input:focus,
.contact-section .form-container .form-group textarea:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 4px var(--primary-color-rgba);
}

.contact-section .form-container textarea {
  resize: none;
  height: 128px;
}

.contact-section .form-container .submit-button {
  background-color: var(--primary-color); /* Indigo-500 */
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.15s;
  border: 1px solid var(--primary-color);
  width: 100%;
}

.contact-section .form-container .submit-button:hover {
  background: transparent;
  color: var(--primary-color);
}

.contact-section .form-container .form-note {
  font-size: 12px;
  color: #a0aec0; /* Gray-500 */
  margin-top: 12px;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .contact-section .container {
    flex-direction: column;
  }

  .contact-section .map-container {
    display: none;
  }

  .contact-section .form-container {
    margin-top: 0;
  }
}
@media (min-width: 640px) {
  .contact-section .map-container {
    margin-right: 40px; /* sm:mr-10 (10 * 4px = 40px) */
  }
}

/* Contact Section End */

.our-team-section {
  padding: 40px 20px;
  background: var(--off-white);
  text-align: center;
}

.our-team-section .container {
  max-width: 800px;
  margin: 0 auto;
}

.our-team-section .section-title {
  font-size: 2rem;
  color: #2c3e50; /* Darker for better contrast */
  margin-bottom: 10px;
}

.our-team-section .section-description {
  font-size: 1.2rem;
  color: #34495e; /* Dark gray for contrast */
  margin-bottom: 30px;
}

.our-team-section .team-members {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 768px) {
  .our-team-section .team-members {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .our-team-section .team-members {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.our-team-section .team-member {
  background: var(--white);
  border: 1px solid rgba(240, 245, 255, 0.5);
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack items vertically */
  justify-content: space-between; /* Push button to the bottom */
  height: 100%; /* Ensure consistent card height */
}

.our-team-section .team-member:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.our-team-section .member-name {
  font-size: 1.4rem;
  color: #2c3e50; /* Darker for visibility */
  margin-bottom: 5px;
}

.our-team-section .member-role {
  font-size: 1rem;
  color: #4b6584; /* Medium gray-blue */
  font-style: italic;
  margin-bottom: 10px;
}

.our-team-section .member-description {
  font-size: 0.9rem;
  color: #5f6a7d; /* Subtle dark tone for readability */
}

.contact-member-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 15px;
  background-color: var(--white);
  color: #1891c8; /* Primary color */
  font-size: 0.9rem;
  font-weight: 500;
  border: 1px solid var(--primary-color);
  border-radius: 999px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.15s;
  margin-top: auto; /* Push the button to the bottom of the card */
}

.contact-member-button:hover {
  background: var(--primary-color);
  color: #fff;
  outline: 0;
}
.contact-member-button:focus, .contact-member-button:focus-visible, .contact-member-button:active{
  outline: 0;
}





/* .team_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  margin-top: 45px;
  position: relative;
}

.team_section .box .img-box {
  width: 100%;
}

.team_section .box .img-box img {
  width: 100%;
}

.team_section .box .detail-box {
  position: absolute;
  width: 100%;
  color: #ffffff;
  padding: 25px 15px;
  text-align: center;
  bottom: 0;
  background-color: rgba(28, 28, 28, 0.75);
}

.team_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 45px;
}

.team_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: var(--primary-color);
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
}

.team_section .btn-box a:hover {
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--primary-color);
}
*/


.achievements-section {
  padding: 40px 20px;
  background: rgba(240, 245, 255, 0.9);
  backdrop-filter: blur(10px);
  text-align: center;
}

.achievements-section .container {
  max-width: 1000px;
  margin: 0 auto;
}

.achievements-section .section-title {
  font-size: 2rem;
  color: #2c3e50; /* Darker for better contrast */
  margin-bottom: 10px;
}

.achievements-section .section-description {
  font-size: 1.2rem;
  color: #34495e; /* Dark gray for contrast */
  margin-bottom: 30px;
}

.achievements-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 768px) {
  .achievements-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .achievements-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.achievement-card {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(240, 245, 255, 0.5);
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.achievement-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.pdf-viewer {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 10px;
  margin-bottom: 15px;
}

.achievement-title {
  font-size: 1.2rem;
  color: #2c3e50;
  margin-bottom: 5px;
}

.achievement-description {
  font-size: 0.9rem;
  color: #5f6a7d;
}


/* footer section*/

.info_section {
  background-color: #101010;
  color: #ffffff;
  padding: 75px 0 10px 0;
}

.info_section .row>div {
  margin-bottom: 25px;
}

.info_section h5 {
  margin-bottom: 25px;
  font-size: 24px;
}

.info_section .info_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.info_section .info_logo .navbar-brand {
  padding: 0;
  margin-bottom: 20px;
}

.info_section .info_logo .navbar-brand span {
  font-size: 24px;
  color: #ffffff;
}

.info_section .info_links ul {
  padding: 0;
}

.info_section .info_links ul li {
  list-style-type: none;
}

.info_section .info_links ul li a {
  color: #ffffff;
}

.info_section .info_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.info_section .info_contact a {
  color: #ffffff;
  margin-bottom: 10px;
}

.info_section .info_contact a i {
  font-size: 20px;
  margin-right: 5px;
}

.info_section .info_form form input {
  outline: none;
  border: none;
  width: 100%;
  padding: 7px 10px;
  border-radius: 30px;
}

.info_section .info_form form button {
  padding: 8px 35px;
  outline: none;
  border: none;
  color: #ffffff;
  background: var(--primary-color);
  border-radius: 30px;
  margin-top: 15px;
  text-transform: uppercase;
}

.info_section .info_form .social_box {
  margin-top: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_section .info_form .social_box a {
  margin-right: 10px;
  color: #ffffff;
  font-size: 20px;
} 

.footer_section {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px;
  background-color: #101010;
}

.footer_section p {
  color: rgba(254, 254, 255, 0.7);
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: rgba(254, 254, 255, 0.7);
}

/* end footer section*/
/*# sourceMappingURL=style.css.map */